dpu-utils==0.2.22
filelock==3.0.12
gensim==3.8.2
gitdb==4.0.5
GitPython==3.1.12
javalang==0.13.0
matplotlib==3.3.2
nltk==3.6.5
PyGithub==1.53
seutil==0.5.1
tokenizers==0.10.2
torch==1.7.1
torchvision==0.8.2
scikit-learn==1.0.2